<div class="container">
  <h2 class="title-lg mb">Хэштег <%= @hashtag.value %></h2>
</div>

<div class="mt-sm container">Все вопросы с этим хэштегом:</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render question %>
  </div>
<% end %>


