.mt-sm {
  margin-top: 0.6rem;
}

.mt-md, .mt {
  margin-top: 1rem;
}

.mt-lg {
  margin-top: 1.75rem;
}

.mb-sm {
  margin-bottom: 0.6rem;
}

.mb-md, .mb {
  margin-bottom: 1rem;
}

.mb-lg {
  margin-bottom: 1.75rem;
}

.mr-sm {
  margin-right: .6em;
}

.mr, .mr-md {
  margin-right: 1em;
}

.mr-lg {
  margin-right: 1.75em;
}

